<app-customer-navbar></app-customer-navbar>
<div class="bradcam_area breadcam_bg_2">
    <h1 style="margin-left: 550px;width: 420px;">Update Password</h1>

    <div class="" >

        <div class="card-body">
        <form novalidate [formGroup]="customerForgetPasswordForm"  style="margin-left: 550px;width: 420px;"  (ngSubmit)="saveData()">

            <div class="form-group"><br>
                <label><b style="color:white">Customer User Name</b></label>
                <input type="text" class="form-control" formControlName="customerUserName" placeholder="Enter Customer  user Name" [readonly]='userName!= "-1" ? true :false'>
                <div class="alert alert-danger" *ngIf="customerForgetPasswordForm?.get('customerUserName')?.hasError('required') &&
                         customerForgetPasswordForm.get('customerUserName')?.dirty">
                  customer name is Required
                </div>
                </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="number" class="form-control input" formControlName="phoneNumber" required>
                <div class="alert alert-danger" *ngIf="customerForgetPasswordForm.get('phoneNumber')?.hasError('required') &&
                customerForgetPasswordForm.get('phoneNumber')?.dirty">
                  Phone Number is Required
                </div>
            </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control input" id="password" formControlName="password" [(ngModel)]="password"
              required>
          </div>

          <div class="form-group">
            <label>Confirm-Password</label>
            <input type="text" class="form-control input" id="confirm_password" formControlName="confirm_password"
              [(ngModel)]="confirm_password" required>
          </div>
          <div class="alert alert-danger" *ngIf="passwordMatch(password ,confirm_password)">
            Password doesn't match
          </div>



        <button type="submit" [disabled] ="!customerForgetPasswordForm.valid" class="btn btn-succes btn-lg" >Change password</button>  &nbsp;
        <button type="reset" class="btn btn-dark btn-lg ml-2" (click) = "Back()">Back</button>
        </form>
        </div>
        </div>
</div>

<app-customer-footer></app-customer-footer>
