
<!-- footer -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            address
                        </h3>
                        <p class="footer_text"> 200, Green road,Chennai, <br>
                            Tamil-Nadu,India</p>
                        <a href="https://r.search.yahoo.com/_ylt=AwrPhSsbZEthdWcAeAG7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1632359580/RO=10/RU=https%3a%2f%2fwww.google.com%2fmaps%2fplace%2fMarina%2520Beach%2520Road%2c%2520Chennai%2520600005%2520Inde%2f/RK=2/RS=jQwVZ5Y5JzhbELUh.xKSE0Y1Q60-" class="line-button">Get Direction</a>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6 col-lg-3">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                          Reservation
                      </h3>
                      <p class="footer_text">+91 9876543210</p>
                      <p class="footer_text">+91 9876543211</p>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-3">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        For any Queries
                    </h3>
                    <p class="footer_text">Email us at<br>
                      management.hotel51@gmail.com</p>
                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-8 col-md-7 col-lg-9">
                    <p class="copy_right">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Tufail Sir's Batch
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- link that opens popup -->

<!-- form itself end-->
<!--     <form id="test-form" class="white-popup-block mfp-hide">
            <div class="popup_box ">
                    <div class="popup_inner">
                        <h3>Check Availability</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-xl-6">
                                    <input id="datepicker" placeholder="Check in date">
                                </div>
                                <div class="col-xl-6">
                                    <input id="datepicker2" placeholder="Check out date">
                                </div>
                                <div class="col-xl-6">
                                    <select class="form-select wide" id="default-select" class="">
                                        <option data-display="Adult">1</option>
                                        <option value="1">2</option>
                                        <option value="2">3</option>
                                        <option value="3">4</option>
                                    </select>
                                </div>
                                <div class="col-xl-6">
                                    <select class="form-select wide" id="default-select" class="">
                                        <option data-display="Children">1</option>
                                        <option value="1">2</option>
                                        <option value="2">3</option>
                                        <option value="3">4</option>
                                    </select>
                                </div>
                                <div class="col-xl-12">
                                    <select class="form-select wide" id="default-select" class="">
                                        <option data-display="Room type">Room type</option>
                                        <option value="1">Luxury Rooms</option>
                                        <option value="2">Deluxe Room</option>

                                    </select>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
        </form>
 -->
