
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" (click) = "home()">Home</a></li>
                                    <li><a (click) = "addwallet()">Add Money To Wallet</a></li>
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="../../assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <a class="popup-with-form" href="#test-form">Book A Room</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bradcam_area breadcam_bg_1">
    <h3>My Wallet</h3>
    <p style="color: white;">Total Amount {{ totalAmount }} INR</p>
</div>
<div class="container" style="margin-top: auto;margin-left: 400px;">
<br>
    <form [formGroup]="walletForm" (ngSubmit)="addMoney()">
        <div> <h3 style="text-align: inherit;"><u style="color: rgb(44, 199, 226);"> Add Money To Your Wallet</u></h3></div>
       
        <fieldset>
            <div class="form-group row">
                                                         
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label>Please Enter Amount</label>
                        <input type="number" class="form-control" formControlName="walletAmount">
                        <div class="alert alert-danger"
                            *ngIf="walletForm.get('walletAmount').hasError('required') && walletForm.get('walletAmount').dirty">
                            Amount is required
                        </div>

                        <div class="alert alert-danger"
                            *ngIf="walletForm.get('walletAmount').hasError('min') && walletForm.get('walletAmount').dirty">
                            Please Enter Valid Amount
                        </div>
                    </div>
                </div>                               
            </div>
        </fieldset>
        <div class="form-group row">
           
            <div class="form-group col-md-5 buttons">
                <button type="submit" class="btn-lg btn-success" [disabled]="walletForm.invalid">Add Money</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn-lg btn-info">Clear</button>&nbsp;&nbsp;
                <button class="btn btn-dark btn-lg" (click)="Back()">Back</button>
            </div>
        </div>
    </form>
</div>



<div>
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 200, Green road, Mongla, <br>
                                New Yor City USA</p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Reservation
                            </h3>
                            <p class="footer_text">+10 367 267 2678 <br>
                                reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>