<app-navbar></app-navbar>
<div class="bradcam_area breadcam_bg_1">
    <h3 style="color: rgb(240, 236, 11);"><b>Customer Login</b></h3>


    <div class="loginForm">
        <div class="main">
            <br>
            <h1 style="color:black"><b></b></h1>
            <div class="container">
                <form [formGroup]="customerLoginForm" (ngSubmit)="customerLogin()">
                    <fieldset>
                        <div class="form-row">
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-4">
                                <i class="fa fa-user fa-lg"></i> &nbsp;
                                <label style="font-weight: bold; font-size: 20px; color: black;">Username </label>
                                <input type="text" name="customerUserName" id="customerUserName" placeholder="Enter Customer Username" formControlName="customerUserName" style="color:black;"
                                    class="form-control border border-primary" />
                                <div *ngIf="customerLoginForm.get('customerUserName').hasError('required') && customerLoginForm.get('customerUserName').dirty">
                                    <b> <font color = "red">Customer Username is Required</font></b>
                               </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-4">
                                <i class="fa fa-key fa-lg"></i> &nbsp;
                                <label style="font-weight: bold; font-size: 20px; color: black;">Password </label>
                                <input type="password" name="password" id="password" formControlName="password"

                                    style="color:black;"  placeholder="Enter Password" class="form-control border border-primary" />
                                <div *ngIf="customerLoginForm.get('password').hasError('required') && customerLoginForm.get('password').dirty">
                                    <b> <font color = "red">Password is Required</font></b>
                                </div>

                            </div>
                        </div>

                        <br>
                        <br>
                        <div class="btn-text-center">
                            <button type="submit" class="btn btn-primary btn-lg"
                                (click)="login()" [disabled] ="customerLoginForm.invalid" >Log-in</button> &nbsp;
                            <button class="btn btn-warning btn-lg" (click)="sign_up()">Sign-Up</button> &nbsp;
                            <button class="btn btn-danger btn-lg " (click)="forgetPassword()">Forget Password</button>&nbsp;
                            <br><br>

                        </div>
                    </fieldset>
                    <br>
                </form>
                <!-- <button class="btn btn-dark btn-lg" (click)="back()">Back</button>&nbsp; -->
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
