<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <!-- <li><a class="active" href="index.html">home</a></li> -->
                                    <li><a href="adminFunc">Rooms</a></li>
                                    <li><a href="offeroperations">Offers</a></li>
                                    <li><a href="receptionist">Receptionist</a></li>   
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="../../assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="bookingDetails">Booking History</a></li>
                                        <li><a href="view">View Feedback</a></li>  
                                    </ul>
                                </nav>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <button class="btn btn-primary" (click) = "logout()">Log Out</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
