<app-customer-navbar></app-customer-navbar>
<div class="bradcam_area breadcam_bg_1">
    <h3 ><b style="color: rgb(240, 236, 11);">Cancel Booking</b></h3>

    <div class="main" align="center">
        <br>
        <div class="container">
            <form novalidate [formGroup]="cancelBooking" #user="ngForm"  style="margin-left: 50px;width: 420px;" (ngSubmit)="sendCancelBooking(user.value)">
                <fieldset>
                    <!-- <div class="form-group"><br>
                        <label>
                            <h4><b style="color:white ; font-size:25px; font-weight: bold;">Booking Id</b></h4>
                        </label>
                        <input type="number" class="form-control" formControlName="bookingId"
                            placeholder="Enter Booking ID" readonly ngModel>
                        <div class="alert alert-danger" *ngIf="cancelBooking?.get('bookingId')?.hasError('required') &&
                         cancelBooking.get('bookingId')?.dirty">
                            Booking ID is Required
                        </div>
                        <br>
                    </div> -->
                    <div class="form-group"><br>
                        <label>
                            <h4><b style="color:white; font-size:25px; font-weight: bold;">Customer User Name</b></h4>
                        </label>
                        <input type="text" class="form-control" formControlName="customerUserName"
                            placeholder="Enter Customer Name" readonly>
                        <div class="alert alert-danger" *ngIf="cancelBooking?.get('customerUserName')?.hasError('required') &&
                         cancelBooking.get('customerUserName')?.dirty">
                            customer name is Required
                        </div>
                        <br>
                    </div>
                    <div class="form-group"><br>
                        <label>
                            <h4><b style="color:white; font-size:25px; font-weight: bold;">Reason</b></h4>
                        </label>
                        <textarea type="text" id="form8" placeholder="Please enter a valid reason"
                            class="md-textarea form-control" formControlName="reason" mdbInput></textarea>
                        <div class="alert alert-danger" *ngIf="cancelBooking?.get('reason')?.hasError('required') &&
                         cancelBooking.get('reason')?.dirty">
                            Reason is Required
                        </div>
                        <br>
                    </div>
                </fieldset>
            </form>
            <button type="submit" class="btn btn-danger btn-lg"
                (click)="sendCancelBooking(user.value)">Submit</button>&nbsp;
            &nbsp;
            <button class="btn btn-dark btn-lg" (click)="Back()">Back</button>
        </div>
    </div>


</div>
<app-customer-footer></app-customer-footer>
