
<app-navbar></app-navbar>
<div class="bradcam_area breadcam_bg">
  <h3>Forget Password</h3>

<span ><h6  align="center"><b>{{this.errorMessage}}</b></h6></span>
<div class="container">
        <form novalidate [formGroup]="receptionistForgetPassword" (ngSubmit)="forgetPassword()">
            <table align="center" width=35%>
            <fieldset>
<div class="form-group">
 <b style="color:#cc4848 ;"> <i class="fa fa-envelope" aria-hidden="true" ></i></b>&nbsp;
    <label><h4><b style="color:yellow">EMAIL</b></h4></label>
    <input type="email" class="form-control" formControlName="receptionistEmail">
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-success">Send</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-primary">Reset</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-dark" (click)="return()">Back</button>
    </fieldset>
        </table>
    </form>
</div>
</div>
<br><br><br>

<br/><br/><br/>
<app-footer></app-footer>
