<app-homenavbar></app-homenavbar>
<div class="bradcam_area breadcam_bg">
    <h3>MONTANA RESORT</h3>
</div>
<div >
    <div >
        <h3 class="ourhotel">
        </h3>
        <p class="ourhotelpara">
          <b style="color: black;">Montana Resort offers the guests an unforgettable stay with his warm hospitality, unique service quality in the magical nature of mediterranean.  Our hotel close to the Marina Beach, just 3 km away, with his 300 rooms capacity,  beach front location and most importantly with his very friendly service was placed in the short time in hearts of many guests. Fine sand and shallow beach awarded with international prize 'Blue Flag' is waiting just for you.
Unlimited hospitality and perfect service awaits you from the moment you step in the Montana Resort. Full 12 months `All Inclusive' accommodation at your service.
Our rooms which have great views have all the comforts that our guests may need. Due to the different expectations, different types of rooms were designed like suites, family rooms and standart rooms.
          </b></p>
    </div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="https://digital.ihg.com/is/image/ihg/kimpton-careers-employee-20-tout" class="careerimage"/>
        </div>
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                Our Work is For You
            </h3>
            <p class="careerpara">
                Hotels are partnering with delivery services and local restaurants to offer food for their customers....
                 With this service, guests can order their food through the hotel staff or an online app and have it delivered
                to the lobby. A staff member will then transport the food to the guest's room.
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                Set Your Room By Booking
            </h3>
            <p  class="careerpara">
                Provide an outstanding guest experience.
                Maintain an orderly front desk.
                Operate computer programs and multi-line phone systems.
                Maintain guest records and book reservations.
                Complete basic cashier and bookkeeping responsibilities.
            </p>
        </div>
        </div>
        <div class="col-8">
            <img src="https://digital.ihg.com/is/image/ihg/kimpton-setcourse_tout" class="careerimage"/>
        </div>
    </div>
</div>

<div class="container" class="subpoints">
    <div class="row">
        <div class="col-6">
            <img src="https://ihg.scene7.com/is/image/ihg/kimpton-fortune2021-425x563-final" class="fortune" />
        </div>
        <div class="col-6" >
            <div>
            <h2 class="subpointsheding" ><b>
                Our Award Winning Hotels and Restaurants
           </b> </h2>
            <ul style="color: black;">
               <li> 75+ Hotels</li>
               <li> 90+ Restaurants </li>
               <li> 55 Cities </li>
               <li> 10+ International Hotels </li>
                <li>And New Hotels Coming Soon</li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
<div class="bedcard d-flex flex-column justify-content-end">
    <h1>BEAUTY AND THE BED</h1>
    <p>Our rooms offer luxe lines and unique, inspired design for truly inviting comfort.</p>
</div>
</div>
<div class="col-6">
<div class="balconycard d-flex flex-column justify-content-end">
    <h1> BEST BALCONY</h1>
    <p>We proude the best views from balcony.</p>
</div>
</div>
<div class="col-6">
<div class="workoutcard d-flex flex-column justify-content-end">
    <h1>WORK IT OUT</h1>
    <p>Take your workout inside or head outdoors with our yogo mats or PUBLIC Bikes.</p>
</div>
</div>
<div class="col-6">
<div class="forgotcard d-flex flex-column justify-content-end">
    <h1>FORGOT IT, WE'VE GOT IT</h1>
    <p>If you didn't bring it with you, we've got your back.</p>
</div>
</div>
</div>
</div>

<h1 class="experiences">We Turn Trips Into Experiences With Our Hotels</h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="https://ihg.scene7.com/is/image/ihg/kimpton-hotel-overview-food-tile" class="careerimage"/>
        </div>
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                Food, Wine and Wow
            </h3>
            <p class="careerpara">
                Get a taste of locally sourced, farm-to-fabulous cuisine rendered by our endlessly creative chefs. It’s all paired with curated wines and craft cocktails for an experience that’s to dine for.
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                The Land of Ahhs
            </h3>
            <p  class="careerpara">
                Just off a long flight or have a case of the conference-call blues? Kimpton-style pampering, offered in our spas or in your hotel room by our skilled therapists, is sure to put you in a state of bliss.
            </p>
        </div>
        </div>
        <div class="col-8">
            <img src="https://ihg.scene7.com/is/image/ihg/kimpton-overview-spa" class="careerimage"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="https://ihg.scene7.com/is/image/ihg/happily-ever-after" class="careerimage"/>
        </div>
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                Happily Ever After
            </h3>
            <p class="careerpara">
                On your special day, the only thing you should have to focus on is I do. We’ll do the rest…as in planning creative menus, fussing over guests, and setting the stage for memories you’ll cherish forever.
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4" >
            <div >
            <h3 class="careerheading">
                Collaborate in Style
            </h3>
            <p  class="careerpara">
                From buttoned-up brainstorm to glittery gala, our inspired spaces, creative catering and yes-we-can staff creates meetings and events that make wheels turn, deals happen and guests gush.
            </p>
        </div>
        </div>
        <div class="col-8">
            <img src="https://ihg.scene7.com/is/image/ihg/kimpton-hotel-overview-collaborate-in-style" class="careerimage"/>
        </div>
    </div>
</div>

<div>
    <img src="https://digital.ihg.com/is/image/ihg/kimpton-website-ihgrc-1700x500" class="finalimage"/>
</div>

<div>
    <p class="lastpara">
        You deserve a hotel as unique as you are.
        Our Hotels takes your experience personally.
        Your wishes inspire us to delight you in unique ways making your stay the escape you didn’t know you needed.
        Add our bold, playful design, award-winning dining and perk-y amenities and you have the ultimate boutique hotel stay.
        Take a peek at what it’s like to stay with us by browsing real guest photos.
    </p>
</div>


<app-footer>
    </app-footer>
