<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="bookingsPage">Bookings</a></li>
                                    <li><a href="cancellationPage">Cancel</a></li>
                                    <li><a href="allocateRooms">Payment</a></li>
                                    <li><a href="unBooked">Allocate</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="../../assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class = "navbarbuttons" (click)="bookingNavigate()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                              </svg> Profile</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Montana Resort</h3>
                            <p>Bookings History</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



<div class = "container">
<body align = "center">
    <br>
    <h2 align = "center" style = "font-weight: 400;">Booking History</h2>
    <br>
    <p class = "error">{{errorMessage}}</p>
    <p class = "success">{{successMessage}}</p>
    <table class = "table" >
        <thead>
            <th>BOOKING ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>ROOM TYPE</th>
            <th>CHECK-IN</th>
            <th>CHECK-OUT</th>
            <th>STATUS</th>
            <th>PRICE</th>
            <th>CANCELLATION</th>
            <th>ACTIONS</th>
        </thead>
        <tr *ngFor = "let bookings of bookingsList">
            <td>{{bookings.bookingId}}</td>
            <td>{{bookings.customerUserName}}</td>
            <td>{{bookings.email}}</td>
            <td>{{bookings.roomType}}</td>
            <td>{{bookings.checkInDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{bookings.checkInDate | date: 'dd/MM/yyyy'}}</td>
            <TD>{{bookings.bookingStatus}}</TD>
            <td>{{bookings.roomPrice}}</td>
            <td>{{bookings.cancellation}}</td>
            <td><button class = "tableButtons" (click) = "deleteHistory(bookings.bookingId)" >Delete</button></td>
        </tr>
    </table>
    <br>
    <a href = "receptionDashboard" class = "buttons">Back</a>
   <br>
   <br>

   </body>
   </div>

   
   

<!-- footer -->
<app-footer></app-footer>