<app-homenavbar></app-homenavbar>

<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Montana Resort</h3>
                            <p>Unlock to enjoy the view of Martine</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Life is Beautiful</h3>
                            <p>Unlock to enjoy the view of Martine</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Montana Resort</h3>
                            <p>Unlock to enjoy the view of Martine</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Life is Beautiful</h3>
                            <p>Unlock to enjoy the view of Martine</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                        <h3>A Luxuries Hotel <br>
                            with Nature</h3>
                    </div>
                    <p>You deserve a hotel as unique as you are. Our Hotels takes your experience personally. Your wishes inspire us to delight you in unique ways making your stay the escape you didn’t know you needed. Add our bold, playful design, award-winning dining and perk-y amenities and you have the ultimate boutique hotel stay. Take a peek at what it’s like to stay with us by browsing real guest photos.</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="../../assets/img/about/about_1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="../../assets/img/about/about_2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Our Offers</span>
                    <h3>Ongoing Offers</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="../../assets/img/offers/1.png" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul>
                        <li>Luxuries condition</li>
                        <li>Sea view side</li>
                    </ul>
                   <!--  <a href="#" class="book_now">book now</a> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="../../assets/img/offers/2.png" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul>
                        <li>Luxuries condition</li>

                        <li>Sunset view side</li>
                    </ul>
                  <!--   <a href="#" class="book_now">book now</a> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="../../assets/img/offers/3.png" alt="">
                    </div>
                    <h3>Up to 35% savings on Club <br>
                        rooms and Suites</h3>
                    <ul>
                        <li>Luxaries condition</li>

                        <li>Hills view side</li>
                    </ul>
                    <!-- <a href="#" class="book_now">book now</a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <span>Montana Resort View</span>
        <h3>Relax and Enjoy your <br>
            Vacation </h3>
       <a href="https://www.youtube.com/watch?v=jtBoWxYe0ds" class="video_btn popup-video">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>
<!-- video_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb2 d-flex">
                    <div class="img_1">
                        <img src="img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="img/about/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Delicious Food</span>
                        <h3>We Serve Fresh and <br>
                            Delicious Food</h3>
                    </div>
                    <p>Get a taste of locally sourced, farm-to-fabulous cuisine rendered by our endlessly creative chef's.</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="/assets/img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="/assets/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about_area_end -->

<!-- features_room_startt -->
<div class="features_room">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Featured Rooms</span>
                    <h3>Choose a Better Room</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="rooms_here">
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="../../assets/img/rooms/1.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                      <!--   <span>From $250/night</span> -->
                        <h3>Superior Room</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="../../assets/img/rooms/2.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <!-- <span>From $250/night</span> -->
                        <h3>Deluxe Room</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="../../assets/img/rooms/3.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <!-- <span>From $250/night</span> -->
                        <h3>Signature Room</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="/assets/room.jpg" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <!-- <span>From $250/night</span> -->
                        <h3>Balcony Room</h3>
                    </div>
                    <a href="#" class="line-button">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->
<br/>
<!-- forQuery_start -->

<!-- instragram_area_start -->
<div class="instragram_area">
  <div class="single_instagram">
    <img src="/assets/rooms4.jpg" alt="">
    <div class="ovrelay">
        <a href="#">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
</div>

<div class="single_instagram">
  <img src="/assets/room1 (2).jpg" alt="">
  <div class="ovrelay">
      <a href="#">
          <i class="fa fa-instagram"></i>
      </a>
  </div>
</div>
<div class="single_instagram">
<img src="/assets/rooms3.jpg" alt="">
<div class="ovrelay">
<a href="#">
    <i class="fa fa-instagram"></i>
</a>
</div>
</div>
<div class="single_instagram">
<img src="/assets/rooms6.jpg" alt="">
<div class="ovrelay">
<a href="#">
<i class="fa fa-instagram"></i>
</a>
</div>
</div>
<div class="single_instagram">
<img src="/assets/rooms1.jpg" alt="">
<div class="ovrelay">
<a href="#">
<i class="fa fa-instagram"></i>
</a>
</div>
</div>
<br/>
    <div class="single_instagram">
        <img src="../../assets/img/instragram/1.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="../../assets/img/instragram/2.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="../../assets/img/instragram/3.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="../../assets/img/instragram/4.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="../../assets/img/instragram/5.png" alt="">
        <div class="ovrelay">
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
<!-- instragram_area_end -->
<app-footer></app-footer>
