<app-adminnavbar></app-adminnavbar>

<div class="bradcam_area breadcam_bg_1">
    <h3>Admin Dashboard</h3>
</div>
<body>
    
    <style>
        body{
            background-image: url("https://img.freepik.com/free-vector/green-sand-paper_53876-86281.jpg?size=626&ext=jpg");
            background-position: center;
            background-size: cover;
        }
        
        label{
        color:brown;
        font-size: large;
        font-weight: 600;
    }
    </style>
<br><br><br>
<span>
    <img src="../../assets/imagesofrooms/room4.jpg" alt="" style="width: 460px;margin-left: 30px;">
    <img style="width: 400px;margin-left: 40px;" src="../../assets/img/offers/offer1.jpg" alt="">
    <img style="width: 400px;margin-left: 30px;" src="../../assets/img/offers/recp.jpg" alt="">
</span>

<br><br><br>
<app-footer></app-footer>