<app-offernavbar></app-offernavbar>
<div class="bradcam_area breadcam_bg">
    <h3>Offers</h3>
</div>

<body>
    <style>
        body{
            background-image: url("https://img.freepik.com/free-vector/green-sand-paper_53876-86281.jpg?size=626&ext=jpg");
            background-position: center;
            background-size: cover;
        }
        
        label{
        color:brown;
        font-size: large;
        font-weight: 600;
    }
    </style>
<br><br><br>
<span>
<img style="width: 400px;margin-left: 30px;" src="../../assets/img/offers/offer1.jpg" alt="">
<img style="width: 400px;margin-left: 30px;" src="../../assets/img/offers/offer2.jpeg" alt="">
<img style="width: 480px;margin-left: 30px;" src="../../assets/img/offers/offer3.jpg" alt="">
</span>

<br><br><br>
</body>
<app-footer></app-footer>
